* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template-rows: 1fr 5fr;
    height:  100vh;
    position: relative;
}

#header{
    background-color: bisque;
    display:  flex;
    align-items: center;
    font-size: 4rem;
    padding-left: 1.5em;
}

#to-do-body{
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#side-bar{
    background-color: cadetblue;
    display: grid;
    grid-template-rows: 2fr 3fr;
}

#project-content{
    background-color: chocolate;
    /* display: flex;
    flex-direction: column; */
}
#add-reminder-btn-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#add-reminder-button{
    padding: 1em;
    font-size: 1rem;
    margin: 1em;
}

#day-wise-list {
    background-color: coral;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 2em;
    gap: 1em;
    font-size: 2rem;
}

#new-project-list{
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1em;
    font-size: 2rem;
}

#add-project-form {
    position: absolute;
    display: flex;
    /* flex-direction: column; */
    background-color: rgba(0,0, 0, 0.7);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    /* font-size: 4rem; */
}

.form-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 18em;
    background-color: white;
    padding: 2em;
    text-align: center;
    position: relative;
    font-size: 2rem;
    border-radius: 15px;
    /* font-size: 1.5rem; */
}

.form-contents > * {
    /* display: block; */
    margin-top: 15px;
}

#cross,
#reminder-form-cross{
    position: absolute;
    top: 0;
    right: 2em;
    transform: rotate(45deg);
    cursor: pointer;
}

#name-input{
    padding: 1.2em;
    font-size: 1.2rem;
}

#submit-new-project-btn{
    padding: 1em;
    font-size: 1rem;
}

#add-reminder-form {
    position: absolute;
    display: flex;
    /* flex-direction: column; */
    background-color: rgba(0,0, 0, 0.7);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    /* font-size: 4rem; */
}

.reminder-form-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 18em;
    background-color: white;
    padding: 2em;
    text-align: center;
    position: relative;
    font-size: 2rem;
    border-radius: 15px;
    box-sizing: border-box;
    /* font-size: 1.5rem; */
}

.reminder-form-contents > * {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* padding: 0;
    margin: 0; */
    margin-top: 1em;
    /* width: 300px; */
}

#description-input{
    height: 6em;
    width: 15em;
    resize: none;
}

.new-reminder-div{
    height: 3em;
    width: 100vh;
    background-color: aliceblue;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 1em;
    padding: 0.2em;
    justify-self: center;
}